{
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": false
        //"preprocess": false
      }
    ],
    ["inline-react-svg"]
  ],
  "presets": ["next/babel"]
}
